<!-- @todo! Hover effect on profile -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jobs | Hivemind</title>
        <link
            href="https://fonts.googleapis.com/css?family=Lato:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/jobs.css" />
    </head>
    <body>
        <header>
            <div class="brand">Hivemind</div>
            <nav>
                <a href="/">Home</a>
                <a href="/">Profile</a>
            </nav>
            <div class="profile">
                <div class="profile-name">
                    <h4>Vaibhav Agrawal</h4>
                    <p>Data Analyst</p>
                </div>
                <img class="profile-img" src="images/profilepic.jpeg" />
            </div>
        </header>

        <main>
            <aside class="job-listings">
                <div class="search-filters">
                    <div class="search">
                        <input
                            type="text"
                            placeholder="Search your best job here..."
                        />
                        <button class="btn-search">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="icon"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div id="listings" class="listings">
                    <div class="job-card">
                        <img
                            src="images/google.png"
                            alt="google"
                            class="card-icon"
                        />
                        <div class="card-text">
                            <div class="text-left">
                                <h3 class="card-title">Google</h3>
                                <p class="card-post">
                                    Data Science, Data Engineer
                                </p>
                                <p class="card-loc">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="icon"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                                        />
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                                        />
                                    </svg>

                                    google office, gurgaon sector 72
                                </p>
                                <div class="card-sub">
                                    <p>
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="icon"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                                            />
                                        </svg>
                                        1-min ago
                                    </p>
                                    <p>
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="icon"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                                            />
                                        </svg>
                                        full-time
                                    </p>
                                    <p>
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="icon"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                                            />
                                        </svg>
                                        200k+ applicants
                                    </p>
                                </div>
                            </div>

                            <div class="text-right">
                                <p><b>₹200k</b><span>/month</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <section class="listing-info" id="listingInfo">
                <div style="width: 100%; min-height: 400px; display: flex; align-items: center; justify-content: center; border: 4px dashed #aaaaaa; border-radius: 1rem;">Select a job to view description</div>
            </section>
        </main>

        <script src="js/jobs.js"></script>
    </body>
</html>
