<!DOCTYPE html>
<html lang="en" class = " hydrated">
    <head>
        <meta charset="UTF-8" />
        <style data-styles>ion-icon{visibility:hidden}.hydrated{visibility:inherit}</style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link
            rel="stylesheet"
            href="https://kit.fontawesome.com/YOUR_KIT_CODE.js"
            crossorigin="anonymous"
        /> -->
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/profile.css" />
        <title>Profile | Hivemind</title>
    </head>

    <body>
        <header>
            <div class="brand">
              <a href="#" class="logo">
                <img src="images/wplogo.ico" width="119" height="37" alt="HIVEMIND logo">
              </a>
            </div>

            <nav>
                <li>
                    <a href="/" class="navbar-link hover-1" data-nav-toggler
                        >Home</a
                    >
                </li>

                <li>
                    <a href="/jobs" class="navbar-link hover-1" data-nav-toggler
                        >Jobs</a
                    >
                </li>

                <li>
                    <a href="/gigs" class="navbar-link hover-1" data-nav-toggler
                        >Gigs</a
                    >
                </li>
            </nav>
            <a href="/profile" class="btn btn-primary">Profile</a>
            
        </header>

        <main>
            <div class="profile">
                <img src="images/profilepic.jpeg" alt="" class="profile-img" id="viewImg" />

                <div class="text">
                    <div class="username" id="viewUsername">Nemesis</div>

                    <div class="bio" id="viewBio">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Vel perferendis accusantium magni minus numquam natus
                        repudiandae, nemo id aliquam libero, quisquam delectus
                        porro corporis autem iusto. Alias facere sapiente hic
                        totam, mollitia rem soluta dolore vel consequatur
                        tempora voluptas necessitatibus.
                    </div>

                    <div class="skills" id="viewSkills">
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                        <div class="pill">HTML</div>
                    </div>
                </div>
            </div>

            <!-- <div class="edit-profile">
                <input type="file" class="profile-img" />

                <div class="text">
                    <input type="text" class="username" readonly />

                    <textarea class="bio" placeholder="bio"></textarea>

                    <input type="text" class="skills" />
                </div>
            </div> -->

            <div class="applications">
                <div class="title">Applications</div>

                <div class="listings" id="applicationListings">
                    <div class="listing">
                        <img src="images/google.png" alt="" />
                        <div class="text">
                            <div class="text-right">
                                <div class="company-title">Google</div>
                                <div class="job-title">Software Engineer</div>
                                <div class="job-type">Full time</div>
                            </div>
                            <div class="text-left">
                                <div class="salary">
                                    <b>Salary: </b>20000/month
                                </div>
                                <div class="status"><b>Status: </b>Pending</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews">
                <div class="title">Reviews</div>

                <div class="review-listings" id="reviewListings">
                    <div class="review">
                        <img src="images/google.png" alt="" />
                        <div class="text">
                            <div class="review-text">
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Minima explicabo, veritatis
                                cum aut atque praesentium suscipit ducimus ipsam
                                quaerat dolor sunt nisi animi deserunt enim!
                                Deserunt facere porro repellendus, repudiandae,
                                quos, mollitia est cumque voluptas perspiciatis
                                quibusdam minus? Aliquid repudiandae consectetur
                                quidem minus alias voluptatum nemo nisi eum,
                                earum praesentium?
                            </div>

                            <div class="review-foot">- HR, Google</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- <main>
    <div class="container">
      <div class="container__left">

        <div class="row">
          <div id="profile-card">
            <img src="images/profilepic.jpeg" alt="Profile Image" class="profile-image">
            <div class="profile-info">
              <h2 class="profile-name">Vaibhav Agrawal</h2>
              <p class="profile-about">I am a passionate web developer with experience in building user-friendly and responsive websites. I enjoy creating innovative solutions for complex challenges.</p>
              <h3 class="skills-title">Skills</h3>
              <ul class="skills-list">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
              </ul>
            </div>
           
          </div>
          <div id="basic-information">
            <h3>Basic information</h3><br>
            <div class="profile-description">
              <ul>
                <li>
                  <span class="description-label">Years of Experience:</span>
                  <span class="description-value">5+</span>
                </li>
                <li>
                  <span class="description-label">Availability:</span>
                  <span class="description-value">Open to New Opportunities</span>
                </li>
                <li>
                  <span class="description-label">Location Experience:</span>
                  <span class="description-value">Remote & On-site</span>
                </li>
                <li class="skills-highlight">
                  <span class="description-label">Skills Highlight:</span>
                  <span class="description-value">UI/UX Design, Front-end Development (React, Vue.js)</span>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div id="job-offers">
          <h2>Job Offers</h2>
          <div class="offer-container accepted">
            <h3>Accepted Offers</h3>
            <ul class="offer-list">
              <li data-company-id="1">
                <span class="company-name"><img src="images/google-review.jpeg"></span> - 
                <span class="job-title">Software Engineer</span>
                <span class="offer-details">
                  Starting salary: $120,000 annually, 20 days PTO, Relocation assistance offered.
                </span>
                <button class="action-btn view-details">View</button>
              </li>
            </ul>
          </div>
          <div class="offer-container rejected">
            <h3>Rejected Offers</h3>
            <ul class="offer-list">
              <li data-company-id="2">
                <span class="company-name"><img src="images/netflix_reviwe.png"></span> - 
                <span class="job-title">Web Developer</span>
                <span class="offer-reason">Reason: Didn't meet salary expectations</span>
                <button class="action-btn remove-offer">View</button>
              </li>
            </ul>
          </div>
        </div>
        
      </div>

      <div class="container__right">
        <h1>Executives/Client Testimonials And Reviews</h1>
        <div class="card">
          <img src="images/pic-1.jpeg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">
              <p>
                We had a great time collaboraring with the Filament team. Vaibhav has potential, but his time
                management skills need improvement. We'll work together to develop strategies for better efficiency."
                He
                have my high recommendation!
              </p>
              <h4>- Shekhar M<br>
                <h6>
                  Senior Project Manager (Accenture)</h6>
              </h4>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="images/pic-2.jpeg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">
              <p>
                The team drastically improved our product's user experience &
                increased our business outreach.
              </p>
              <h4>- Shraddhanjali Rao<h6>
                  HR(Google)</h6>
              </h4>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="images/pic-3.jpg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">
              <p>
                vaibhav consistently exceeds expectations.His positive attitude and collaborative spirit make them a
                valuable asset to the team.
              </p>
              <h4>- Jensen Huang<h6>
                  CEO(Nivedia)</h6>
              </h4>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="images/pic-4.jpg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">
              <p>
                I absolutely loved working with vaibhav. Complete
                experts at what he does!
              </p>
              <h4>- LEOW POH HWA
                <h6>
                  Site HR Director(Intel)</h6>
              </h4>
            </div>
          </div>
        </div>
      </div>
  </main> -->

        <script src="js/profile.js"></script>
    </body>
</html>
